# Instance can be either local or remote, if the instance is local during the
# playbook run MariaDB will be installed
mariadb_instance: local
# For locally installed instances we need to set a specific MariaDB version
mariadb_local_root_password: password
# When configuring a local instance this values will be used to set up the
# instance. For a remote instance these must match the connection details,
# as the playbook doesn't configure external instances
mariadb_database_name: apigee
mariadb_user: apigee
mariadb_password: apigee
# Defaults for the local instance
mariadb_host: localhost
mariadb_port: 3306

php_version: 7.3

application_installation_directory: /opt/apigee

nginx_configuration_filename: apigee.conf
